<h3>Animal</h3>

<p id="notice"><%= notice %></p>

<div class="container" style="
    width: 40%;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-left: initial;
">
<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>
<p style="line-height: 0px;">
  <strong>Custo mensal:</strong>
  <%= number_to_currency(@animal.custo_mensal) %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @animal.tipo.tipo %>
</p>
<p>
  <strong>Dono:</strong>
  <%= @animal.pessoa.nome %>
</p>
</div>
</br>

<%= link_to 'Editar', edit_animal_path(@animal), class:"btn btn-default btn-sm" %>
<%= link_to 'Voltar', animals_path, class:"btn btn-default btn-sm" %>
